In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Digamos que tenemos los siguientes datos:

In [2]:
X1 = np.array([2.5, 0.5, 2.2, 1.9, 3.1, 2.3, 2, 1, 1.5, 1.1])
X2 = np.array([2.4, 0.7, 2.9, 2.2, 3.0, 2.7, 1.6, 1.1, 1.6, 0.9])
X3 = np.array([1.1, 3.2, 1.2, 3.2, 2.9, 3.3, 2.9, 2.1, 2.5, 3.1])

In [3]:
pd.DataFrame(np.array([X1,X2,X3])).T

     0    1    2
0  2.5  2.4  1.1
1  0.5  0.7  3.2
2  2.2  2.9  1.2
3  1.9  2.2  3.2
4  3.1  3.0  2.9
5  2.3  2.7  3.3
6  2.0  1.6  2.9
7  1.0  1.1  2.1
8  1.5  1.6  2.5
9  1.1  0.9  3.1

Transformamos a datos centrados

In [4]:
X1_c,X2_c,X3_c=X1-X1.mean(),X2-X2.mean(),X3-X3.mean()

In [5]:
X1_c

array([ 0.69, -1.31,  0.39,  0.09,  1.29,  0.49,  0.19, -0.81, -0.31,
       -0.71])

In [6]:
matrix=np.array([X1_c,X2_c,X3_c])

In [7]:
pd.DataFrame(matrix).T

      0     1     2
0  0.69  0.49 -1.45
1 -1.31 -1.21  0.65
2  0.39  0.99 -1.35
3  0.09  0.29  0.65
4  1.29  1.09  0.35
5  0.49  0.79  0.75
6  0.19 -0.31  0.35
7 -0.81 -0.81 -0.45
8 -0.31 -0.31 -0.05
9 -0.71 -1.01  0.55

calculamos la matriz de covarianza

In [8]:
cov_matrix=np.cov(matrix)

In [9]:
pd.DataFrame(cov_matrix)

          0         1         2
0  0.616556  0.615444 -0.160556
1  0.615444  0.716556 -0.217222
2 -0.160556 -0.217222  0.676111

Ahora calculamos los autovalores y autovectores

In [10]:
from numpy import linalg as LA

In [11]:
w, v = LA.eig(cov_matrix)

In [12]:
pd.DataFrame(w)

          0
0  1.385737
1  0.047587
2  0.575899

In [13]:
pd.DataFrame(v)

          0         1         2
0 -0.628216 -0.726638  0.278102
1 -0.692743  0.685113  0.225229
2  0.354191  0.051161  0.933773

In [14]:
pd.DataFrame(np.dot(v,matrix)).T

          0         1         2
0 -1.192770 -0.468869 -1.084510
1  1.882962  0.224906  0.081058
2 -1.339814  0.104033 -1.071809
3 -0.086498  0.282734  0.653666
4 -1.505099 -0.068036  0.839492
5 -0.673294  0.370716  0.914300
6  0.203232 -0.265176  0.378257
7  0.972287 -0.095172 -0.748533
8  0.406100 -0.008896 -0.172348
9  1.332895 -0.076240  0.210427

Aqui hay un código en R para hacer lo mismo anterior: https://www.cienciadedatos.net/documentos/35_principal_component_analysis