In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Conjunto de datos para probar nuestros algoritmos...
1. Se trata de un conjunto de datos reales sobre el estado de los conocimientos de los estudiantes sobre el tema de las máquinas eléctricas de corriente continua. El conjunto de datos se ha obtenido de la tesis doctoral.
2. User Knowledge Modeling: https://archive-beta.ics.uci.edu/ml/datasets/user+knowledge+modeling (En realidad yo lo he modificado un poco para dejarlo más limpio y trabajar más rápido)
3. Las características son:
- STG (El grado de tiempo de estudio para las materias del objeto de la meta),
- SCG (El grado de repetición del usuario para las materias del objeto de la meta)
- STR (El grado de tiempo de estudio del usuario para los objetos relacionados con el objeto de la meta)
- LPR (El rendimiento en el examen del usuario para los objetos relacionados con el objeto de la meta)
- PEG (El rendimiento en el examen del usuario para los objetos de la meta)
- UNS (El nivel de conocimiento del usuario)

4. Vamos a repetir lo visto en clase con esta data y vamos a verificar que efectivamente nuestro algoritmos pueden identificar los grupos que ellos han identificado. Habrá que definir una métrica para luego medir con que grado de confianza hemos hecho algoritmos que de verdad clasifican bien.

In [2]:
data=pd.read_csv("UserKnowledgeModeling.csv")

In [3]:
data.head()

    STG   SCG   STR   LPR   PEG       UNS
0  0.00  0.10  0.50  0.26  0.05  Very Low
1  0.05  0.05  0.55  0.60  0.14       Low
2  0.08  0.18  0.63  0.60  0.85      High
3  0.20  0.20  0.68  0.67  0.85      High
4  0.22  0.22  0.90  0.30  0.90      High

5. Lo primero es que vamos a codificar nuestro atributo de clasificación (la última columna). Para ello vamos a hacer algo como lo siguiente:

In [4]:
data["UNS"].value_counts()

Low         129
Middle      122
High        102
Very Low     26
very_low     24
Name: UNS, dtype: int64

In [5]:
data["UNS"]=data["UNS"].replace("Very Low",0)
data["UNS"]=data["UNS"].replace("very_low",0)
data["UNS"]=data["UNS"].replace("Low",1)
data["UNS"]=data["UNS"].replace("Middle",2)
data["UNS"]=data["UNS"].replace("High",3)
#.....
data

      STG   SCG   STR   LPR   PEG  UNS
0    0.00  0.10  0.50  0.26  0.05    0
1    0.05  0.05  0.55  0.60  0.14    1
2    0.08  0.18  0.63  0.60  0.85    3
3    0.20  0.20  0.68  0.67  0.85    3
4    0.22  0.22  0.90  0.30  0.90    3
..    ...   ...   ...   ...   ...  ...
398  0.61  0.78  0.69  0.92  0.58    3
399  0.78  0.61  0.71  0.19  0.60    2
400  0.54  0.82  0.71  0.29  0.77    3
401  0.50  0.75  0.81  0.61  0.26    2
402  0.66  0.90  0.76  0.87  0.74    3

[403 rows x 6 columns]

In [6]:
data["UNS"].value_counts()

1    129
2    122
3    102
0     50
Name: UNS, dtype: int64

6. Por ahora nos olvidamos de la columna `UNS` y hacemos nuestros algoritmos de agrupamiento y clustering y luego vemos que tan fiable han sido nuestro modelos